# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
.env
.venv/
venv/
ENV/
*.pyc

# Node/Next.js
node_modules/
.next/
out/
build/
dist/
.env*.local

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
